[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-restx = "*"
flask-cors = "*"
tweepy = "*"
autopep8 = "*"
pandas = "*"
jupyter = "*"
notebook = "*"
python-dotenv = "*"
gensim = "*"
nltk = "*"
ipykernel = "*"

[requires]
python_version = "3.7"
